<footer id="footer">
  <div class="links"></div>
  <div class="more">
    <div class="container">
      <!--
      <form style="text-align:center;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" wtx-context="DF3A7BEF-2FEF-44BB-8479-F4A03376326C">
        <input type="hidden" name="cmd" value="_s-xclick" wtx-context="26DF0910-3644-4F59-8763-8B2F81D8941C">
        <input type="hidden" name="hosted_button_id" value="FNWB46PXURNE4" wtx-context="CEBF9396-A480-4462-95A1-1E7B43079EBE">
        <input type="image" src="assets/img/bouton-don1.png" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne" width="200" wtx-context="7B3D9A08-5FF2-4289-80CF-DCF8B46B016F">
        <img alt="" border="0" src="https://i0.wp.com/www.paypalobjects.com/fr_FR/i/scr/pixel.gif?resize=1%2C1&amp;ssl=1" width="1" height="1">
      </form>
      -->

      <div style="text-align:center;" class="buttons">

        <button class="button button-primary" (click)="subscribeToNotifications()"
                [disabled]="sub">Subscribe</button>

    </div>
      <span class="info">&copy; 2019 by <a class="home-link" href="/">Jihane Sbaytti & Antoine Pichard</a></span>

      <div class="right">
        <a class="social-link" href="https://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook "></i></a>
        <a class="social-link" href="https://twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter "></i></a>
        <a class="social-link" href="https://www.twitch.tv/" target="_blank" title="Twitch"><i class="fab fa-twitch "></i></a>
        <a class="social-link" href="https://www.youtube.com/" target="_blank" title="YouTube"><i class="fab fa-youtube "></i></a>
        <a class="social-link" href="https://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram "></i></a>
        <a class="social-link" href="https://www.discord.gg/" target="_blank" title="Discord"><i class="fab fa-discord "></i></a>
      </div>
    </div>
  </div>
</footer>
