<header id="header">
  <div class="container">
    <div class="top-bar">
      <a class="header-logo" [routerLink]="['/']">
        <img src="assets/icons/icon-512x512.png">
      </a>
      <div class="right">
      </div>
    </div>
  </div>
  <nav>
    <div class="container">
      <ul>
        <li class="icon"><i class="fas fa-bars "></i></li>
        <li><a routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Accueil</a></li>
        <li><a routerLink="/teams" routerLinkActive="active">Equipes</a></li>
        <li><a routerLink="/events" routerLinkActive="active">Events</a></li>
        <li><a routerLink="/partners" routerLinkActive="active">Partenaires</a></li>
      </ul>
      <div class="right">
        <a class="social-link" href="https://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook "></i></a>
        <a class="social-link" href="https://twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter "></i></a>
        <a class="social-link" href="https://www.twitch.tv/" target="_blank" title="Twitch"><i class="fab fa-twitch "></i></a>
        <a class="social-link" href="https://www.youtube.com/" target="_blank" title="YouTube"><i class="fab fa-youtube "></i></a>
        <a class="social-link" href="https://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram "></i></a>
        <a class="social-link" href="https://www.discord.gg/" target="_blank" title="Discord"><i class="fab fa-discord "></i></a>
      </div>
    </div>
  </nav>
</header>
