<script>
  $(document).ready(function()
  {
    $('#slider1').contentifySlider();
  });
</script>

<div id="slider1" class="slider">
  <div class="slides">
    <ul class="list-inline">
      <li data-title="Bienvenue !">
        <a title="Bienvenue !" target="_blank" style="background-image: url('assets/img/background.jpg')">
          Bienvenue !
        </a>
      </li>
      <li data-title="news2 !">
        <a title="Bienvenue !" target="_blank" style="background-image: url('assets/img/header_logo.png')">
          Bienvenue !
        </a>
      </li>
    </ul>
  </div>

  <div class="container">
    <ul class="buttons list-inline" title="Switch to">
      <li>
        1
      </li>
      <li>
        2
      </li>
    </ul>
  </div>

  <a class="to-left" href="#slider1"><i class="fas fa-angle-left fa-5x "></i></a>
  <a class="to-right" href="#slider1"><i class="fas fa-angle-right fa-5x "></i></a>
</div>
<div class="divider"></div>

