<aside id="sidebar" class="col-md-4">
  <div class="border">
    <h3>
      Partenaires
      <a [routerLink]="['/partners']"><i class="fas fa-plus "></i></a>
    </h3>
    <div class="widget widget-partners">
      <ul class="list-unstyled">
        <li>
          <a [routerLink]="['/partners']" title="Ikoula" target="_blank">
            <img class="filter" src="assets/img/partners/1_image.png" alt="Ikoula">
          </a>
        </li>
      </ul>
    </div>
    <br>
    <h3>
      Derniers Evenements
      <a [routerLink]="['/events']" title="Lire plus..."><i class="fas fa-plus "></i></a>
    </h3>
    <div class="widget widget-matches-latest">
      <ul class="list-unstyled">
      </ul>
    </div>
    <br>
    <div class="text-center">
    </div>
  </div>
</aside>
